@font-face {
	font-family: Exo;
    src: url('../fonts/exo2-semiboldcondensed-webfont.eot');
    src: url('../fonts/exo2-semiboldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-semiboldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/exo2-semiboldcondensed-webfont.woff') format('woff'),
         url('../fonts/exo2-semiboldcondensed-webfont.ttf') format('truetype'),
         url('../fonts/exo2-semiboldcondensed-webfont.svg#exo_2semi_bold_condensed') format('svg');
}
.panel-body.panel-list-group {
    padding: 0;
}
.panel-body.panel-list-group .list-group{
    margin-bottom: 0;
}
.panel-body.panel-list-group .list-group .list-group-item:first-child{
    border-radius: 0;
}
body { 
	padding-top: 70px;
}
.navbar {
	background-color: black;
	box-shadow: 0px 0.1px 5px black;
	border-radius: 0 !important;
}
.navbar-brand {
	color: white;
	font-family: Exo;
	font-size: 22px;
	padding: 14px;
}
.navbar-brand:hover {
	color: white;
}
.navbar li>a {
	color: white;
	font-family: Exo;
	font-size: 20px;
}
.navbar li>a:hover, .navbar li>a:active, .navbar li>a:focus {
	color: black;
}
.icon-bar {
	background-color: white;
}
.alert {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
.form-control[name="body"] {
	height: 200px;
}
.well {
	box-shadow: 0 0 2px black;
	border-radius: 0 !important;
}
.well h4 {
	font-size: 12px;
}
.well hr {
	background-color: #E0E0D1;
	height: 1px;
}
#username, #pass1, #pass2 {
	width: 300px;
}
.container > form {
	padding: 20px;
	box-shadow: 0 0 2px black;
}
.panel-heading {
	background-color: #724500 !important;
}
.panel-heading h3 {
	font-size: 28px;
}
.list-group {
	background-color: green !important;
}
.list-group-item {
	font-size: 18px;
}
.list-group-item:hover {
	
}
.list-group-item > .pull-right {
	font-size: 16px;    
}