@font-face {
	font-family: Exo;
    src: url('../fonts/exo2-semiboldcondensed-webfont.eot');
    src: url('../fonts/exo2-semiboldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-semiboldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/exo2-semiboldcondensed-webfont.woff') format('woff'),
         url('../fonts/exo2-semiboldcondensed-webfont.ttf') format('truetype'),
         url('../fonts/exo2-semiboldcondensed-webfont.svg#exo_2semi_bold_condensed') format('svg');
}
.panel-body.panel-list-group {
    padding: 0;
}
.panel-body.panel-list-group .list-group{
    margin-bottom: 0;
}
.panel-body.panel-list-group .list-group .list-group-item:first-child{
    border-radius: 0;
}
body { 
	padding-top: 70px;
	background-color: #E6E6E6;
}
.navbar {
	background-color: black;
	box-shadow: 0px 0.1px 5px black;
	border-radius: 0 !important;
}
.navbar-brand {
	color: white;
	font-family: Exo;
	font-size: 22px;
	padding: 14px;
}
.navbar-brand:hover {
	color: white;
}
.navbar li>a {
	color: white;
	font-family: Exo;
	font-size: 20px;
}
.navbar li>a:hover, .navbar li>a:active, .navbar li>a:focus {
	color: black;
}
.icon-bar {		/* bootstrap menu opener for small resolutions */
	background-color: white;
}
.alert {	/* alerts on top */
	width: 85% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.form-control[name="body"] {
	height: 200px;
}
.well {		/* default forum post view */
	box-shadow: 0 0 2px black;
	border-radius: 0 !important;
}
.well h4 {	/* post info (date, posted by) */
	font-size: 12px;
}
.well hr {	/* separates post info from post comment */
	background-color: #E0E0D1;
	height: 1px;
}
.well p {
	padding: 10px;
	font-size: 16px;
}

.hvr-back-pulse {
    border-radius: 10px;
}
.hvr-back-pulse:hover {
    text-decoration: none;
}
.list-group-item{
    background-color: transparent;
}
.thread:nth-child(odd) {
    background-color: #f2f2f2;
}

#username, #pass1, #pass2 {
	width: 300px;
}
.container > form {
	padding: 20px;
	box-shadow: 0 0 2px black;
}
.panel-heading {
	background-color: #7A1F00 !important;
}
.panel-heading h3 {
	font-size: 28px;
}

.well:nth-child(2) {	/* first post in thread */
	background-color: white;
	box-shadow: 0 0 15px black;
}
#forumComment {		/* thread comment form */
	margin-bottom: 40px;
	border: none !important;
	box-shadow: 0 0 10px black !important;
	margin-top: 50px;
}
.list-group-item > .pull-right {	/* visits counter text */
	margin: 0 !important;
	font-size: 14px;
}

.cancel-edit-comment, .send-edited-comment {
    display: none;
}
.alert {
    display: inline-block;
}
.remove-tag {
    visibility: hidden;
}
.hvr-back-pulse:hover .remove-tag {
    visibility: visible;
}
.hvr-back-pulse:hover, .hvr-back-pulse:hover a {
    color: #ffffff;
    text-decoration: none;
}
.hvr-back-pulse a {
    padding: 10px;
}
.success-alert, .error-alert {
    display: none;
}
.panel-primary {
	box-shadow: 0 0 15px black;
	border: none !important;
}
.thread > .list-group-item {
	border-radius: 0 !important;
	width: 100% !important;
	margin-bottom: 20px;
	/*background-color: rgba(0,0,0,0.8);*/
	background-color: transparent;
	color: black;
	border: 1px dotted black;
}
.thread > .list-group-item:hover, .thread > .list-group-item:active, .thread > .list-group-item:focus {
	background-color: black;
	color: white;
	text-decoration: underline;
}
.breadcrumb {
	box-shadow: 0 0 10px black;
	font-weight: bold;
}
.username-topmenu {
	margin-left: 5px;
}
.btn {
	margin-bottom: 10px;
	margin-top: 10px;
}
.pagination {
	box-shadow: 0 0 10px black;
	font-weight: bold;
	font-size: 16px;
}
.pagination * {
	height: 35px;
}
form {
	background-color: white;
	box-shadow: 0 0 10px black !important;
}
#forumComment textarea {
	border-radius: 0 !important;
	border: 1px solid #7C7C7C;
}
#forumComment .btn {
	margin-bottom: 0 !important;
}

.remove-tag {
    border: none;
}
.save-tag, .new-tag-name {
    display: none;
}
.latest-threads, .latest-comments {
	margin-top: 50px;
	box-shadow: 0 0 10px black;
	background-color: white;
	border-radius: 10px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.latest-threads h3, .latest-comments h3 {
	margin-left: 15px;
	font-size: 34px;
}
.latest-threads .col-md-4, .latest-comments .col-md-4 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.homepage-latest-links {
	border: 1px dotted #111111;
	border-radius: 0 !important;
	width: 100%;
}
.homepage-latest-links:hover {
	background-color: black !important;
	color: white !important;
}
.latest-comments {
	margin-bottom: 50px;
}
.comment-content {
	width: 100% !important;
	word-wrap: break-word;
}
.latest-comments div:nth-child(odd), .latest-threads div:nth-child(odd) {
	background-color: #E6E6E6 !important;
}
.latest-comments:nth-child(even), .latest-threads:nth-child(even) {
	background-color: white !important;
}